@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to G1 garage</h1>
<br />
<div class=" border-0 col-8">
    <a class="btn btn-primary float-lg-right col-6 text-center" asp-action="Create">Check In Vehicle</a>
    <br />
</div>
<br />
<br />
@if (@TempData["Message"] != null)
{
    <div role="alert" class="alert alert-success alert-dismissible ">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["Message"]
    </div>
}
<form asp-controller="ParkedVehicles" asp-action="Index" method="Get">

    <div class=" row input-group mb-3">
        <div class="col-md-5">
            <input type="text" name="Regnum" class="form-control" placeholder="Search on Registration No" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <div class="col-md-5">
            <select name="drpVehicleTypes" asp-items="@Html.GetEnumSelectList<VehicleType>()" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-md-2 input-group-append">
            <input type="submit" value="Filter" id="button-addon2" class="btn btn-secondary col-lg-12" />
        </div>
    </div>
</form>
<div class=" row input-group ">
    <div class="container-fluid col-md-12">
        <table data-toggle="table"
               data-classes="table table-hover table-condensed"
               data-striped="true"
               data-sort-name="ArrivalTime"
               data-sort-order="desc" id="TbVehicles">
            <thead>
                <tr>
                    <th class="border-0  col-xs-1" data-field="VehicleType" data-sortable="true">
                        @Html.DisplayNameFor(model => model.VehicleType)
                    </th>
                    <th class="border-0 col-xs-1" data-field="RegNo" data-sortable="true">
                        @Html.DisplayNameFor(model => model.RegNo)
                    </th>
                    <th class="border-0 col-xs-1" data-field="ArrivalTime" data-sortable="true">
                        @Html.DisplayNameFor(model => model.ArrivalTime)
                    </th>
                    <th class="float-lg-left border-0 col-8">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArrivalTime)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Check out</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

